@import "./#src/scss/abstracts/mixins.scss";
@import "./#src/scss/abstracts/variables.scss";

.navbar {
  @include transition(.3);
  margin-left: auto;
  display: flex;
  align-items: center;
  @media (max-width: $breakpoint-xl) {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -120vw;
    background: $whiteColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include transition(.3);
    padding: 10px 10px 60px 10px;
  }
  @media (max-width: $breakpoint-md) {
    align-items: flex-start;
  }
  &.active {
    right: 0;
  }
}
.menu {
  flex-direction: row;
  @media (max-width: $breakpoint-xl) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: $breakpoint-md) {
    align-items: flex-start;
    margin-bottom: 20px;
  }
  &-item {
    margin: 0 20px;
    @media (max-width: $breakpoint-xl) {
      margin: 0 0 10px 0;
    }
    & a {
      display: block;
      font-size: 16px;
      color: $blueColor;
      font-weight: 700;
      position: relative;
      @media (max-width: $breakpoint-xl) {
        font-family: 'PlayfairDisplay', sans-serif;
        font-size: 30px;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 1px;
        left: 0;
        width: 100%;
        height: 1px;
        background: $blueColor;
        opacity: 0;
        @include transition(.3);
        @media (max-width: $breakpoint-xl) {
          display: none;
        }
      }
      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
    &.current-menu-item {
      & a:before {
        opacity: 1;
      }
    }
  }
}
.hamburger {
  display: none;
  width: 45px;
  height: 45px;
  margin-right: -15px;
  position: relative;
  z-index: 22;
  cursor: pointer;
  @media (max-width: $breakpoint-xl) {
    display: block;
  } 
  & span {
    position: absolute;
    right: 15px;
    display: block;
    width: 25px;
    background: $blueColor;
    height: 3px;
    border-radius: 10px;
    @include transition(.3);
  }
  & span:nth-child(1) {
    top: calc(50% - 8.5px);
  }
  & span:nth-child(2) {
    top: calc(50% - 2.5px);
  }
  & span:nth-child(3) {
    top: calc(50% - 2.5px);
  }
  & span:nth-child(4) {
    top: calc(50% + 3.5px);
  }
  &.open {
    & span {
      background: $blueColor;
    }
    & span:nth-child(1) {
      top: calc(50% - 2.5px);
      width: 0%;
      right: 50%;
    }
    & span:nth-child(2) {
      transform: rotate(45deg);
    }
    & span:nth-child(3) {
      transform: rotate(-45deg);
    }
    & span:nth-child(4) {
      top: calc(50% - 2.5px);
      width: 0;
      right: 50%;
    }
  }
}