@import "../abstracts/mixins";
@import "../abstracts/variables";

section {
  margin-bottom: 60px;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 30px;
  }
  &.main-screen {
    margin-bottom: 0;
  }
  &.services {
    margin-bottom: 30px;
  }
}

.main-screen {
  position: relative;
  height: 900px;
  margin-bottom: 0;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    background: linear-gradient(360deg, #FFFFFF 26.67%, rgba(255, 255, 255, 0) 100%);
    left: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    z-index: -1;
  }
  &:after {
    @media (max-width: $breakpoint-lg) {
      content: '';
      background: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -2;
    }
  }
  &__background {
    & img {
      object-fit: cover;
    }
  }
  &__images {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  &__text {
    margin-top: 120px;
    & h1, & p {
      color: $whiteColor;
      margin-bottom: 25px;
    }
    &_container {
      z-index: 1;
    }
  }
}

.cloud {
  position: absolute;
  &-big {
    left: 0;
    bottom: 140px;
  }
  &-small {
    top: -110px;
    left: 30%;
  }
}

.info-block {
  position: relative;
  margin: -160px 0 60px 0;
  @media (max-width: $breakpoint-md) {
    margin: -160px 0 30px 0;
  }
  z-index: 2;
  &-cloud {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
  }
  &__image {
    border-radius: 15px;
    overflow: hidden;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 30px;
    }
  }
  &__text {
    margin-bottom: 25px;
    & h2 {
      margin-bottom: 15px;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $breakpoint-lg) {
      flex-direction: column;
    }
    & > span {
      @media (max-width: $breakpoint-lg) {
        margin: 10px 0;
      }
    }
    & a {
      padding: 0 40px;
      display: flex;
      height: 54px;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      & span {
        color: $blueColor;
        font-size: 12px;
        line-height: 24px;
        @include transition(.3);
        display: block;
      }
      &:hover {
        & span {
          color: $whiteColor;
        }
      }
    }
  }
}

.services {
  // margin-bottom: 30px;
  &__image {
    &:before {
      content: '';
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  &__title {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 2;
    top: 0;
    left: 0;
    color: $whiteColor;
    @include transition(.3);
    padding: 20px;
    @media (min-width: 1800px) {
      font-size: 25px;
      line-height: 1.4;
    }
  }
  &__button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    background: rgba(80, 176, 214, 0.8);
    @include transition(.3);
  }
  &__item {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    &:hover {
       & .services__button {
         opacity: 1;
       }
       & .services__title {
         opacity: 0;
       }
    }
  }
}

.why-us {
  background-image: url('../img/why-us-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 60px 0;
  position: relative;
  @media (max-width: $breakpoint-md) {
    padding: 20px 0;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(102, 186, 219, 0.8);
    z-index: 1;
  }
  &__inner {
    z-index: 2;
  }
  &__content {
    margin-bottom: 30px;
  }
  &__text{
    color: $whiteColor;
    & p {
      color: $whiteColor;
    }
  }
  &__numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $breakpoint-md) {
      flex-direction: column;
      align-items: flex-start;
    }
    &_item {
      align-items: center;
      flex-wrap: nowrap;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 20px;
      }
    }
    &_digit {
      min-width: 92px;
      max-width: 92px;
      min-height: 92px;
      max-height: 92px;
      margin-right: 20px;
      background: $whiteColor;
      border-radius: 100%;
      font-size: 35px;
      color: $blueColor;
      @media (max-width: $breakpoint-md) {
        min-width: 60px;
        max-width: 60px;
        min-height: 60px;
        max-height: 60px;
        font-size: 25px;
      }
    }
    &_description {
      color: $whiteColor;
    }
  }
}

.home-about {
  position: relative;
  &-cloud {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }
  &-wrap {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;
    @media (max-width: $breakpoint-md) {
      display: flex;
    }
  }
  &-details {
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 15px 0 0 0;
    background: $blueColor;
    padding: 35px;
    align-items: flex-start;
    @media (max-width: $breakpoint-md) {
      margin: 0;
      border-radius: 15px;
      padding: 25px;
    }
    & h2, p {
      margin-bottom: 15px;
      color: $whiteColor;
    }
  }
  &-image {
    &__long, &__wide {
      border-radius: 15px;
      overflow: hidden;
      filter: drop-shadow(0px 30px 30px rgba(0, 0, 0, 0.25));
      & img {
        object-fit: cover;
      }
    }
    &__long {
      grid-row: 1/3;
      grid-column: 2/3;
      @media (max-width: $breakpoint-md) {
        display: none;
      }
    }
    &__wide {
      grid-row: 2/3;
      grid-column: 1/2;
      margin-right: -80px;
      height: 300px;
      @media (max-width: $breakpoint-md) {
        display: none;
      }
      & img {
        object-position: bottom;
      }
    }
  }
}

.prices {
  &-table {
    width: 100%;
    & table {
      width: 100%;
      border-radius: 15px;
      overflow: hidden;
      & tr:nth-child(odd) {
        background: #E8E8E8;
      }
      & tr {
        & td:first-of-type {
          width: 58%;
          border-right: 1px solid #C4C4C4;
          @media (max-width: $breakpoint-md) {
            width: 45%;
          }
        }
        & td:last-of-type {
          text-align: right;
          & a {
            color: $blueColor;
            font-weight: 800;
            @media (max-width: $breakpoint-md) {
              font-size: 11px;
            }
          }
        }
      }
      & td {
        padding: 15px 20px;
        @media (max-width: $breakpoint-md) {
          font-size: 12px;
          padding: 10px;
          vertical-align: middle;
        }
      }
    }
  }
}

.faq {
  &__image {
    border-radius: 15px;
    overflow: hidden;
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
    & img {
      object-fit: cover;
    }
  }
}