@import "../abstracts/mixins";
@import "../abstracts/variables";

.btn {
  font-size: 16px;
  border-radius: 100px;
  padding: 15px 40px;
  font-weight: 700;
  border: none;
  outline: none;
  border: 2px solid transparent;
  @include transition(.3);
  cursor: pointer;
  &-primary {
    background: $blueColor;
    color: $whiteColor;
    &:hover {
      border-color: $blueColor;
      background: $whiteColor;
      color: $blueColor;
    }
  }
  &-secondary {
    background: $whiteColor;
    color: $blueColor;
    border: 2px solid $blueColor;
    &:hover {
      color: $whiteColor;
      background: $blueColor;
    }
  }
  &-white {
    background: $whiteColor;
    color: $blueColor;
    &:hover {
      color: $whiteColor;
      background: $blueColor;
    }
    &.outlined {
      border: 2px solid $whiteColor;
    }
  }
}