@import "../abstracts/mixins";
@import "../abstracts/variables";

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.--semibold {
  font-weight: 600;
}

.--regular {
  font-weight: 400;
}

.--medium {
  font-weight: 500;
}

.--bold {
  font-weight: 700;
}

.--uppercase {
  text-transform: uppercase;
}

.heading-1 {
  @include fontSize(35, 65);
  line-height: 1.17;
  font-family: 'PlayfairDisplay', sans-serif;
}

.heading-2 {
  @include fontSize(26, 45);
  font-family: 'PlayfairDisplay', sans-serif;
  line-height: 1.3;
}

.heading-3 {
  @include fontSize(22,30);
  line-height: 1.1;
  font-family: 'PlayfairDisplay', sans-serif;

  @media (min-width: $breakpoint-xxl) {
    font-size: 33px;
  }
}

.heading-4 {
  @include fontSize(20, 25);
  font-family: 'PlayfairDisplay', sans-serif;
  line-height: 1.2;
}

.heading-5 {
  @include fontSize(14, 24);
  line-height: 1.33;
}

.heading-5 {
  @include fontSize(16, 20);
  line-height: 1.33;
}

.section-heading {
  font-weight: 900;
  @include fontSize(36, 56);
  line-height: 1;
}


.icon-checkbox-checked .path1:before {
  content: "\e900";
  color: rgb(52, 149, 188);
}
.icon-checkbox-checked .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-checkbox-unchecked:before {
  content: "\e902";
  color: #3495bc;
}
.icon-icon-arrow:before {
  content: "\e903";
  color: #50b0d6;
}
.icon-icon-envelope:before {
  content: "\e904";
  color: #fff;
}
.icon-icon-facebook:before {
  content: "\e905";
  color: #fff;
}
.icon-icon-instagram:before {
  content: "\e906";
  color: #fff;
}
.icon-icon-marker:before {
  content: "\e907";
  color: #50b0d6;
}
.icon-icon-phone:before {
  content: "\e908";
  color: #50b0d6;
}