.blueText {
  color: #50B0D6;
}

.whiteText {
  color: #ffffff;
}

@font-face {
  font-family: "PlayfairDisplay";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  font-display: swap;
  src: url("../fonts/Mont-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  font-display: swap;
  src: url("../fonts/Mont-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?h7lkbl");
  src: url("../fonts/icomoon.eot?h7lkbl#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff?h7lkbl") format("woff"), url("../fonts/icomoon.svg?h7lkbl#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blueText {
  color: #50B0D6;
}

.whiteText {
  color: #ffffff;
}

.--relative {
  position: relative;
}

.full-height {
  height: 100%;
}

.default-icon img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body.active {
  overflow: hidden;
}

.blueText {
  color: #50B0D6;
}

.whiteText {
  color: #ffffff;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Mont', sans-serif;
  color: #131313;
  font-weight: 400;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  position: relative;
  background: #ffffff;
  color: #131313;
  font-family: 'Mont', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.no-focus-outline a:focus,
.no-focus-outline button:focus,
.no-focus-outline input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
nav {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.blueText {
  color: #50B0D6;
}

.whiteText {
  color: #ffffff;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.--semibold {
  font-weight: 600;
}

.--regular {
  font-weight: 400;
}

.--medium {
  font-weight: 500;
}

.--bold {
  font-weight: 700;
}

.--uppercase {
  text-transform: uppercase;
}

.heading-1 {
  font-size: 65px;
  font-size: calc(35px + (65 - 35) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.17;
  font-family: 'PlayfairDisplay', sans-serif;
}

.heading-2 {
  font-size: 45px;
  font-size: calc(26px + (45 - 26) * ((100vw - 300px) / (1900 - 300)));
  font-family: 'PlayfairDisplay', sans-serif;
  line-height: 1.3;
}

.heading-3 {
  font-size: 30px;
  font-size: calc(22px + (30 - 22) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.3;
  font-family: 'PlayfairDisplay', sans-serif;
}

.heading-4 {
  font-size: 25px;
  font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (1900 - 300)));
  font-family: 'PlayfairDisplay', sans-serif;
  line-height: 1.2;
}

.heading-5 {
  font-size: 24px;
  font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.33;
}

.heading-5 {
  font-size: 20px;
  font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.33;
}

.section__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 30px 0;
}

.icon-checkbox-checked .path1:before {
  content: "\e900";
  color: #3495bc;
}

.icon-checkbox-checked .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: white;
}

.icon-checkbox-unchecked:before {
  content: "\e902";
  color: #3495bc;
}

.icon-icon-arrow:before {
  content: "\e903";
  color: #50b0d6;
}

.icon-icon-envelope:before {
  content: "\e904";
  color: #fff;
}

.icon-icon-facebook:before {
  content: "\e905";
  color: #fff;
}

.icon-icon-instagram:before {
  content: "\e906";
  color: #fff;
}

.icon-icon-marker:before {
  content: "\e907";
  color: #50b0d6;
}

.icon-icon-phone:before {
  content: "\e908";
  color: #50b0d6;
}

.blueText {
  color: #50B0D6;
}

.whiteText {
  color: #ffffff;
}

.fade-in {
  -webkit-animation: fade-in 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
          animation: fade-in 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.animate-in {
  -webkit-animation: modalIn 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
          animation: modalIn 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.animate-away {
  -webkit-animation: modalAway 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
          animation: modalAway 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes modalIn {
  0% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes modalIn {
  0% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes modalAway {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  100% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
}

@keyframes modalAway {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  100% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blueText {
  color: #50B0D6;
}

.whiteText {
  color: #ffffff;
}

.breadcrumb {
  margin: 30px 0;
}

.breadcrumb .kama_breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breadcrumb a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.breadcrumb a span {
  color: #AAAAAA;
}

.breadcrumb a:after {
  content: '/';
  color: #aaa;
  margin: 0 10px;
}

.breadcrumb span {
  font-size: 12px;
  display: block;
}

.blueText {
  color: #50B0D6;
}

.whiteText {
  color: #ffffff;
}

.navbar {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar.active {
  right: 0;
}

.menu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu-item {
  margin: 0 20px;
}

.menu-item a {
  display: block;
  font-size: 16px;
  color: #50B0D6;
  font-weight: 700;
  position: relative;
}

.menu-item a:before {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #50B0D6;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu-item a:hover:before {
  opacity: 1;
}

.menu-item.current-menu-item a:before {
  opacity: 1;
}

.hamburger {
  display: none;
  width: 45px;
  height: 45px;
  margin-right: -15px;
  position: relative;
  z-index: 22;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  right: 15px;
  display: block;
  width: 25px;
  background: #50B0D6;
  height: 3px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.hamburger span:nth-child(1) {
  top: calc(50% - 8.5px);
}

.hamburger span:nth-child(2) {
  top: calc(50% - 2.5px);
}

.hamburger span:nth-child(3) {
  top: calc(50% - 2.5px);
}

.hamburger span:nth-child(4) {
  top: calc(50% + 3.5px);
}

.hamburger.open span {
  background: #50B0D6;
}

.hamburger.open span:nth-child(1) {
  top: calc(50% - 2.5px);
  width: 0%;
  right: 50%;
}

.hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hamburger.open span:nth-child(4) {
  top: calc(50% - 2.5px);
  width: 0;
  right: 50%;
}

.modal-callback .modal__content {
  width: 650px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  outline: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-overflow-scrolling: touch;
}

.modal.open {
  display: block;
}

.modal__close {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 10px;
  top: 10px;
  z-index: 23;
  cursor: pointer;
}

.modal__close:before,
.modal__close:after {
  content: '';
  position: absolute;
  background: #50B0D6;
  width: 22px;
  top: 50%;
  left: calc(50% - 11px);
  height: 2px;
  position: absolute;
  z-index: 22;
}

.modal__close:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal__close:after {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.modal__body {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: auto;
}

.modal__content {
  position: relative;
  margin: auto;
  width: 1100px;
  overflow-y: auto;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 0;
}

.modal__content::-webkit-scrollbar-track,
.modal__content .select-items::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0;
  background-color: rgba(180, 152, 102, 0.25);
}

.modal__content::-webkit-scrollbar,
.modal__content .select-items::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.modal__content::-webkit-scrollbar-thumb,
.modal__content .select-items::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.modal-callback .modal__content {
  border-radius: 20px;
  background: #ffffff;
  padding: 36px;
}

.modal__heading {
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
}

.modal__subheading {
  margin-bottom: 36px;
}

.lang-option {
  color: #50B0D6;
  font-weight: 600;
  position: relative;
  margin: 0 3px;
}

.lang-option:before {
  content: '';
  position: absolute;
  background: #50B0D6;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -2px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.lang-option:hover:before {
  opacity: 1;
}

.lang-option.selected:before {
  opacity: 1;
}

.accordion__item {
  position: relative;
  width: 100%;
  height: auto;
  border: 2px solid #50B0D6;
  border-radius: 15px;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  overflow: hidden;
  margin-bottom: 30px;
}

.accordion__item.active {
  color: #ffffff;
  background: #50B0D6;
}

.accordion__item.active .accordion__content {
  background: #50B0D6;
}

.accordion__item.active .accordion__button {
  color: #ffffff;
}

.accordion__item.active i:before {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.accordion__item.active i:after {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
}

.accordion__content {
  display: none;
  padding: 0 20px 20px 20px;
  background: transparent;
  color: #ffffff;
}

.accordion__content p {
  margin: 0;
  color: #ffffff;
}

.accordion__button {
  display: block;
  padding: 20px;
  text-decoration: none;
  font-weight: 500;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #50B0D6;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1900 - 300)));
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.accordion__button i {
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  background: #3495BC;
  border-radius: 100px;
  position: relative;
  display: block;
  margin-left: 10px;
}

.accordion__button i:before,
.accordion__button i:after {
  content: '';
  width: 14px;
  height: 2px;
  position: absolute;
  left: calc(50% - 7px);
  top: calc(50% - 1px);
  background: #ffffff;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.accordion__button i:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.blueText {
  color: #50B0D6;
}

.whiteText {
  color: #ffffff;
}

.btn {
  font-size: 16px;
  border-radius: 100px;
  padding: 15px 40px;
  font-weight: 700;
  border: none;
  outline: none;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.btn-primary {
  background: #50B0D6;
  color: #ffffff;
}

.btn-primary:hover {
  border-color: #50B0D6;
  background: #ffffff;
  color: #50B0D6;
}

.btn-secondary {
  background: #ffffff;
  color: #50B0D6;
  border: 2px solid #50B0D6;
}

.btn-secondary:hover {
  color: #ffffff;
  background: #50B0D6;
}

.btn-white {
  background: #ffffff;
  color: #50B0D6;
}

.btn-white:hover {
  color: #ffffff;
  background: #50B0D6;
}

.btn-white.outlined {
  border: 2px solid #ffffff;
}

.blueText {
  color: #50B0D6;
}

.whiteText {
  color: #ffffff;
}

.product-item {
  border-radius: 15px;
  overflow: hidden;
}

.product-item__image {
  height: 280px;
  display: block;
}

.product-item__image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.product-item__content {
  border: 1px solid #50B0D6;
  border-top: none;
  border-radius: 0 0 15px 15px;
  padding: 15px 20px;
}

.product-item__content_main {
  margin-bottom: 5px;
}

.product-item__content_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-item__title {
  display: block;
  margin-bottom: 10px;
}

.product-item__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.product__price {
  font-family: 'PlayfairDisplay';
}

.product__more {
  font-weight: 800;
}

.blueText {
  color: #50B0D6;
}

.whiteText {
  color: #ffffff;
}

.entry-content p {
  font-size: 16px;
  margin-bottom: 18px;
  line-height: 1.5;
}

.entry-content a {
  color: #50B0D6;
  line-height: 1.3;
  border-bottom: 1px solid #50B0D6;
}

.entry-content h1 {
  font-size: 36px;
  font-size: calc(24px + (36 - 24) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.33;
}

.entry-content h2 {
  font-size: 36px;
  font-size: calc(24px + (36 - 24) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.16;
  margin: 24px 0;
}

.entry-content h3 {
  font-size: 30px;
  font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.16;
  margin: 20px 0;
}

.entry-content h4 {
  font-size: 24px;
  font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.16;
  margin-bottom: 8px;
}

.entry-content h5 {
  font-size: 20px;
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.16;
  margin-bottom: 8px;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5 {
  font-weight: 600;
}

.entry-content img {
  display: block;
  width: 100%;
  max-height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 24px;
}

.entry-content ul,
.entry-content ol {
  margin-bottom: 24px;
}

.entry-content ul li {
  padding-left: 20px;
  position: relative;
  font-size: 18px;
}

.entry-content ul li:before {
  content: '';
  position: absolute;
  left: 4px;
  top: 10px;
  width: 5px;
  height: 5px;
  background: #50B0D6;
  border-radius: 100%;
}

.entry-content ol li {
  counter-increment: li;
  font-size: 18px;
}

.entry-content ol li:before {
  content: counter(li) ".";
  font-weight: 700;
  padding: 0 4px;
  display: inline-block;
  min-width: 24px;
  color: #50B0D6;
}

.entry-content blockquote {
  position: relative;
  font-size: 20px;
  font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.4;
  position: relative;
  padding: 30px 10px 30px 10px;
  margin: 0 0 24px 0;
  background: #f1f1f1;
  border-radius: 15px;
}

.blueText {
  color: #50B0D6;
}

.whiteText {
  color: #ffffff;
}

.form-control {
  height: 54px;
  margin-bottom: 24px;
}

.form-control.form-textarea {
  height: 160px;
}

.form-control.form-submit {
  margin: 0;
}

.form-control input,
.form-control textarea {
  font-family: inherit;
  font-size: inherit;
  resize: none;
  width: 100%;
  height: 100%;
  border: 2px solid #50B0D6;
  background: transparent;
  color: #131313;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 24px;
  border-radius: 15px;
  outline: none;
}

.form-control input::-webkit-input-placeholder, .form-control textarea::-webkit-input-placeholder {
  color: #131313;
}

.form-control input::-moz-placeholder, .form-control textarea::-moz-placeholder {
  color: #131313;
}

.form-control input:-ms-input-placeholder, .form-control textarea:-ms-input-placeholder {
  color: #131313;
}

.form-control input::-ms-input-placeholder, .form-control textarea::-ms-input-placeholder {
  color: #131313;
}

.form-control input::placeholder,
.form-control textarea::placeholder {
  color: #131313;
}

.form-control input::-moz-placeholder,
.form-control textarea::-moz-placeholder {
  color: #131313;
}

.form-control input:focus,
.form-control textarea:focus {
  -webkit-filter: drop-shadow(0px 0px 4px #5CB8DC);
          filter: drop-shadow(0px 0px 4px #5CB8DC);
}

.blueText {
  color: #50B0D6;
}

.whiteText {
  color: #ffffff;
}

.container {
  max-width: 1110px;
  margin: auto;
  padding: 0 15px;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 15px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.m-auto {
  display: block;
  margin: auto;
}

.m-row {
  margin: 0 -15px;
  width: unset;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0 15px;
}

.p-zero {
  padding: 0 !important;
}

.w-100 {
  width: 100%;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.column {
  padding: 0 15px;
}

.align-self-middle {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.align-self-end {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-spaced {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-justify {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.align-start {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-start;
}

.align-self-bottom {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.align-content-justify {
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col-xs-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-xs-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-xs-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25.0%;
  flex: 0 0 25.0%;
  max-width: 25.0%;
}

.col-xs-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-xs-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66666%;
  flex: 0 0 41.66666%;
  max-width: 41.66666%;
}

.col-xs-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50.0%;
  flex: 0 0 50.0%;
  max-width: 50.0%;
}

.col-xs-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-xs-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66666%;
  flex: 0 0 66.66666%;
  max-width: 66.66666%;
}

.col-xs-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75.0%;
  flex: 0 0 75.0%;
  max-width: 75.0%;
}

.col-xs-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-xs-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66666%;
  flex: 0 0 91.66666%;
  max-width: 91.66666%;
}

.col-xs-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100.0%;
  flex: 0 0 100.0%;
  max-width: 100.0%;
}

/* small phones grid*/

.blueText {
  color: #50B0D6;
}

.whiteText {
  color: #ffffff;
}

.body-padding {
  padding-top: 121px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 102;
  background: #ffffff;
}

.header-top {
  padding: 7px 0;
}

.header-top:before {
  content: '';
  background: rgba(80, 176, 214, 0.3);
  position: absolute;
  width: 100vw;
  height: 1px;
  left: 0;
  top: 39px;
}

.header-top__links {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-top__links li {
  color: #50B0D6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 33px;
}

.header-top__links a {
  color: #50B0D6;
}

.header-top__links i {
  margin-right: 13px;
}

.header-contacts-mobile {
  display: none;
}

.header-contacts-mobile .header-top__links {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.header-lang {
  margin: 0 30px 0 20px;
}

.blueText {
  color: #50B0D6;
}

.whiteText {
  color: #ffffff;
}

.footer {
  background: #50B0D6;
  padding: 60px 0;
  position: relative;
  overflow: hidden;
}

.footer-cloud {
  position: absolute;
  pointer-events: none;
}

.footer-cloud-big {
  right: -100px;
  bottom: -10px;
}

.footer-cloud-small {
  left: 0;
  top: 20px;
}

.footer .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-row {
  margin-bottom: 30px;
  color: #ffffff;
}

.footer-row ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-row li {
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.footer-row a {
  color: #ffffff;
  position: relative;
}

.footer-row a:before {
  content: '';
  position: absolute;
  background: #ffffff;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.footer-row a:hover:before {
  opacity: 1;
}

.footer-row i {
  margin-right: 10px;
  font-size: 20px;
}

.footer-row i:before {
  color: #ffffff;
}

.footer-logo {
  color: #131313;
  margin-bottom: 45px;
  font-size: 45px;
  font-family: 'PlayfairDisplay', sans-serif;
}

.footer-made-by span {
  font-weight: 700;
  color: #ffffff;
  position: relative;
}

.footer-made-by span:before {
  content: '';
  position: absolute;
  background: #ffffff;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.footer-made-by a:before {
  display: none;
}

.footer-made-by a:hover span:before {
  opacity: 1;
}

.blueText {
  color: #50B0D6;
}

.whiteText {
  color: #ffffff;
}

section {
  margin-bottom: 60px;
}

section.main-screen {
  margin-bottom: 0;
}

section.services {
  margin-bottom: 30px;
}

.main-screen {
  position: relative;
  height: 900px;
  margin-bottom: 0;
  overflow: hidden;
}

.main-screen:before {
  content: '';
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(26.67%, #FFFFFF), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(bottom, #FFFFFF 26.67%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(360deg, #FFFFFF 26.67%, rgba(255, 255, 255, 0) 100%);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.main-screen__background img {
  -o-object-fit: cover;
     object-fit: cover;
}

.main-screen__images {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.main-screen__text {
  margin-top: 120px;
}

.main-screen__text h1,
.main-screen__text p {
  color: #ffffff;
  margin-bottom: 25px;
}

.main-screen__text_container {
  z-index: 1;
}

.cloud {
  position: absolute;
}

.cloud-big {
  left: 0;
  bottom: 140px;
}

.cloud-small {
  top: -110px;
  left: 30%;
}

.info-block {
  position: relative;
  margin: -160px 0 60px 0;
  z-index: 2;
}

.info-block-cloud {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.info-block__image {
  border-radius: 15px;
  overflow: hidden;
}

.info-block__text {
  margin-bottom: 25px;
}

.info-block__text h2 {
  margin-bottom: 15px;
}

.info-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-block__buttons a {
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 54px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-block__buttons a span {
  color: #50B0D6;
  font-size: 12px;
  line-height: 24px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: block;
}

.info-block__buttons a:hover span {
  color: #ffffff;
}

.services__image:before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.services__title {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  top: 0;
  left: 0;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  padding: 20px;
}

.services__button {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  background: rgba(80, 176, 214, 0.8);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.services__item {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.services__item:hover .services__button {
  opacity: 1;
}

.services__item:hover .services__title {
  opacity: 0;
}

.why-us {
  background-image: url("../img/why-us-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 60px 0;
  position: relative;
}

.why-us:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(102, 186, 219, 0.8);
  z-index: 1;
}

.why-us__inner {
  z-index: 2;
}

.why-us__content {
  margin-bottom: 30px;
}

.why-us__text {
  color: #ffffff;
}

.why-us__text p {
  color: #ffffff;
}

.why-us__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why-us__numbers_item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.why-us__numbers_digit {
  min-width: 92px;
  max-width: 92px;
  min-height: 92px;
  max-height: 92px;
  margin-right: 20px;
  background: #ffffff;
  border-radius: 100%;
  font-size: 35px;
  color: #50B0D6;
}

.why-us__numbers_description {
  color: #ffffff;
}

.home-about {
  position: relative;
}

.home-about-cloud {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
}

.home-about-wrap {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr 1fr;
}

.home-about-details {
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 15px 0 0 0;
  background: #50B0D6;
  padding: 35px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home-about-details h2,
.home-about-details p {
  margin-bottom: 15px;
  color: #ffffff;
}

.home-about-image__long,
.home-about-image__wide {
  border-radius: 15px;
  overflow: hidden;
  -webkit-filter: drop-shadow(0px 30px 30px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 30px 30px rgba(0, 0, 0, 0.25));
}

.home-about-image__long img,
.home-about-image__wide img {
  -o-object-fit: cover;
     object-fit: cover;
}

.home-about-image__long {
  grid-row: 1/3;
  grid-column: 2/3;
}

.home-about-image__wide {
  grid-row: 2/3;
  grid-column: 1/2;
  margin-right: -80px;
  height: 300px;
}

.home-about-image__wide img {
  -o-object-position: bottom;
     object-position: bottom;
}

.prices-table {
  width: 100%;
}

.prices-table table {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.prices-table table tr:nth-child(odd) {
  background: #E8E8E8;
}

.prices-table table tr td:first-of-type {
  width: 58%;
  border-right: 1px solid #C4C4C4;
}

.prices-table table tr td:last-of-type {
  text-align: right;
}

.prices-table table tr td:last-of-type a {
  color: #50B0D6;
  font-weight: 800;
}

.prices-table table td {
  padding: 15px 20px;
}

.faq__image {
  border-radius: 15px;
  overflow: hidden;
}

.faq__image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.blueText {
  color: #50B0D6;
}

.whiteText {
  color: #ffffff;
}

.contacts__info {
  border-radius: 15px;
  background: #50B0D6;
  padding: 30px;
}

.contacts__info_list {
  max-width: 70%;
}

.contacts__info li {
  color: #ffffff;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts__info li:last-child {
  margin-bottom: 0;
}

.contacts__info span {
  color: #ffffff;
}

.contacts__info i {
  margin-right: 15px;
  font-size: 20px;
}

.contacts__info i:before {
  color: #ffffff;
}

.contacts__info a {
  color: #ffffff;
}

.blueText {
  color: #50B0D6;
}

.whiteText {
  color: #ffffff;
}

.mb-60 {
  margin-bottom: 60px;
}

.about {
  overflow: hidden;
  position: relative;
}

.about .info-block {
  margin: 0 0 30px 0;
  position: static;
}

.about .info-block__text h1 {
  margin: 55px 0 25px 0;
}

.about-cloud {
  position: absolute;
  right: 0;
  z-index: -1;
  top: -60px;
}

.about-image {
  border-radius: 15px;
  overflow: hidden;
}

.about-image-long {
  border-radius: 0 0 15px 15px;
}

.about-image-wide {
  margin-right: -27vw;
  height: 350px;
}

.about-image-wide img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.about-image-regular {
  height: 100%;
}

.about-image-regular img {
  -o-object-fit: cover;
     object-fit: cover;
}

.blueText {
  color: #50B0D6;
}

.whiteText {
  color: #ffffff;
}

.services-single__main {
  height: 400px;
  position: relative;
}

.services-single__image {
  height: 100%;
  position: relative;
}

.services-single__image:before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.services-single__image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.services-single__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 200px;
}

.blueText {
  color: #50B0D6;
}

.whiteText {
  color: #ffffff;
}

.catalog-list {
  background: #E8E8E8;
  border-radius: 15px;
  padding: 20px;
}

.catalog-list__heading {
  color: #131313;
  font-weight: 600;
  margin-bottom: 15px;
}

.catalog-list a {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.catalog-list a:hover {
  color: #50B0D6;
}

.catalog-list ul li {
  margin-bottom: 5px;
}

.catalog-list ul li.active a {
  color: #50B0D6;
}

@media (min-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%;
  }

  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
  }

  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%;
  }

  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
  }

  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%;
  }

  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
  }

  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%;
  }

  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
  }

  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%;
  }

  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
  }

  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%;
  }

  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
  }

  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%;
  }

  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
  }

  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%;
  }

  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
  }

  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%;
  }

  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
  }

  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%;
  }

  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
  }

  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%;
  }

  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
  }

  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%;
  }

  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
  }

  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%;
  }
}

@media (min-width: 1800px) {
  .heading-3 {
    font-size: 33px;
  }

  .entry-content p {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .entry-content ul li {
    font-size: 24px;
  }

  .entry-content ol li {
    font-size: 24px;
  }

  .services__title {
    font-size: 25px;
    line-height: 1.4;
  }
}

@media (max-width: 1200px) {
  .navbar {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -120vw;
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    padding: 10px 10px 60px 10px;
  }

  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu-item {
    margin: 0 0 10px 0;
  }

  .menu-item a {
    font-family: 'PlayfairDisplay', sans-serif;
    font-size: 30px;
  }

  .menu-item a:before {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .modal__content {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 40px 15px;
  }

  .lang-option {
    margin: 0 10px;
  }

  .body-padding {
    padding-top: 75px;
  }

  .header-contacts-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-contacts-mobile .header-top__links li {
    margin: 0 0 10px 0;
  }

  .header-top {
    display: none;
  }

  .header-lang {
    margin: 0 0 30px 0;
  }
}

@media (max-width: 991px) {
  .footer {
    padding: 30px 5px 0 5px;
  }

  .footer .row {
    width: 100%;
    margin: 0;
  }

  .footer-row ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-row li {
    margin: 8px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer-logo {
    margin-bottom: 30px;
  }

  .footer-contacts ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main-screen:after {
    content: '';
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }

  .info-block__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info-block__buttons > span {
    margin: 10px 0;
  }

  .faq__image {
    display: none;
  }

  .contacts__info {
    padding: 20px;
  }

  .mb-60 {
    margin-bottom: 30px;
  }

  .about .info-block__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .about .info-block__buttons > span {
    margin: 10px;
  }

  .about-image-long {
    display: none;
  }

  .about-image-wide {
    margin-right: 0;
    height: 300px;
    margin-bottom: 25px;
  }

  .about-image-regular {
    display: none;
  }

  .services-single__title {
    padding: 0 15px;
  }

  .services-single__title h1 {
    font-size: 30px;
  }
}

@media (max-width: 991px) and (max-width: 767px) {
  .about .info-block__buttons > span {
    display: none;
  }

  .about .info-block__buttons a {
    margin-bottom: 15px;
  }

  .about .info-block__buttons a:last-of-type {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .breadcrumb {
    margin: 15px 0 20px 0;
  }

  .navbar {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .menu {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 20px;
  }

  .modal-callback .modal__content {
    padding: 25px 15px;
    margin: 0 10px;
  }

  .modal__heading {
    font-size: 24px;
    margin-top: 50px;
  }

  .accordion__item {
    margin-bottom: 20px;
  }

  .accordion__button {
    padding: 15px;
  }

  .btn {
    font-size: 14px;
    text-align: center;
    padding: 8px 10px;
  }

  .entry-content blockquote {
    padding: 20px 10px 20px 10px;
  }

  .m-row {
    margin: 0;
  }

  .m-0-mob {
    margin: 0;
  }

  .p-0 {
    padding: 0;
  }

  .column {
    padding: 0;
  }

  .header-contacts-mobile .header-top__links {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 20px;
  }

  section {
    margin-bottom: 30px;
  }

  .info-block {
    margin: -160px 0 30px 0;
  }

  .info-block__image {
    margin-bottom: 30px;
  }

  .why-us {
    padding: 20px 0;
  }

  .why-us__numbers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .why-us__numbers_item {
    margin-bottom: 20px;
  }

  .why-us__numbers_digit {
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
    font-size: 25px;
  }

  .home-about-cloud {
    display: none;
  }

  .home-about-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .home-about-details {
    margin: 0;
    border-radius: 15px;
    padding: 25px;
  }

  .home-about-image__long {
    display: none;
  }

  .home-about-image__wide {
    display: none;
  }

  .prices-table table tr td:first-of-type {
    width: 45%;
  }

  .prices-table table tr td:last-of-type a {
    font-size: 11px;
  }

  .prices-table table td {
    font-size: 12px;
    padding: 10px;
    vertical-align: middle;
  }

  .contacts__info {
    margin-bottom: 30px;
  }

  .about .info-block__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .services-single__main {
    height: 300px;
  }

  .catalog-list {
    margin-bottom: 30px;
  }
}

@media (max-width: 475px) {
  .col-exs-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-exs-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-exs-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%;
  }

  .col-exs-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-exs-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
  }

  .col-exs-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%;
  }

  .col-exs-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-exs-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
  }

  .col-exs-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%;
  }

  .col-exs-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-exs-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
  }

  .col-exs-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%;
  }
}